minio:
  endpoint: "127.0.0.1:9000"
  access_key: "minioadmin"
  secret_key: "minioadmin"
  use_ssl: false
  bucket: "simhub-raw"

log:
  level: "info"
  filename: "simhub-worker.log"
  max_size: 100
  max_backups: 3
  max_age: 28
  compress: true
  format: "text"

nats:
  enabled: true
  url: "nats://localhost:4222"
  subject: "simhub.jobs"

worker:
  api_base_url: "http://localhost:30030"
  handlers:
    scenario: "./drivers/scenario-processor"
    map_terrain: "" 
    model_glb: "./drivers/scenario-processor"
